<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <script src="{% static 'js/aisuggestions.js' %}"></script>
     <link rel="stylesheet" href="{% static 'css/aisuggestion.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <div id="movieContainer">
      
    </div>
    <!-- <label for="movies">Choose movies:</label>
<select id="movies" name="movies">
  {% for movie in movies %}
  <option value="inception">{{movie.genre}}</option>
  
  {%endfor%}
</select> -->

   

</body>
</html>